<ul>
  <% @files.each do |file| %>
    <li>
      <a href="/<%= file %>"><%= file %></a>
      <a href="/<%= file %>/edit"><button>edit</button></a>
      <form class="inline" action="/duplicate" method="post">
        <input type="hidden" name="existing_file_name" value="<%= file %>">
        <button type="submit">duplicate</button>
      </form>
      <form class="inline" action="/<%= file %>/delete" method="post">
        <button type="submit">delete</button>
      </form>
    </li>
  <% end %>
</ul>

<a href="/new_doc">New Document</a>
<br>
<a href="/new_image">New Image</a>

<% if session[:username] %>
  <form class="inline" action="/users/signout" method="post">
    <p>
      <em>Signed in as <%= session[:username] %></em>
      <button type="submit">Sign Out</button>
    </p>
  </form>
<% else %>
  <p><a class="user-status" href="/users/signin">Sign In</a></p>
  <p><a class="user-status" href="/users/signup">Sign Up</a></p>
<% end %>