<h1><%= @user_name.capitalize %></h1>
<ul>
  <li><strong>email</strong>: <%= @user_data[:email] %></li>
  <li><strong>interests</strong>: <%= @user_data[:interests].join(', ') %></li>
</ul>
<% @remaining_user_names.each do |name| %>
  <a href="/users/<%= name %>"><%= name.capitalize %></a>
<% end %>