<h1><%=@title%></h1>
<p>Please answer the following questions.</p>

<form action="/response" method="post">
  <% @questions.each do |question| %>
    <div class="question-group">

      <h2><%=question[:title]%></h2>
      <p><%=question[:text]%></p>

      <% if question[:type] == 'text' %>
      <div>
        <input id=<%=question[:name]%> name=<%=question[:name]%> type=<%=question[:type]%> placeholder="<%=question[:placeholder]%>" required >
      </div>
      <% end %>

      <% if ['radio', 'checkbox'].include?(question[:type]) %>
        <div class="left-list">
          <% question[:options].each do |option| %>
            <div>
              <input type="<%=question[:type]%>" id="<%=option%>" name="<%=question[:name]%><%='[]' if question[:type] == 'checkbox'%>" value="<%=option%>" <%='required' if question[:type] == 'radio'%>>
              <label for="<%=question[:name]%>"><%=option%></label>
            </div>
          <% end %>
        </div>
      <% end %>
      
      <%  if question[:type] == 'dropdown' %>
        <select name="<%=question[:name]%>">
          <option value="">-- <%=question[:default_option]%> --</option>
          <% question[:options].each do |selection| %>
            <option value="<%=selection%>"><%=selection%></option>
          <% end %>
        </select>
      <% end %>

      <% if question[:type] == 'textarea' %>
        <textarea name="<%=question[:name]%>" id="<%=question[:name]%>" rows="10" cols="50" placeholder="<%=question[:placeholder]%>"></textarea>
      <% end %>

    </div>
  <% end %>

  <input type="submit" value="Submit Answers">
</form>